* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgba(255, 68, 0, 0.294);
}

.container {
    background: #fff;
    max-width: 1064px;
    margin: 0 auto;
}

.titleGeneral h1 {
    padding-left: 25px;
    color: cadetblue;
}

/* CRIANDO HEADER */
header {
    background: rgba(137, 43, 226, 0.344);
    /* ALTURA */
    height: 130px;
    border-bottom: 3px solid orchid;
    /* FLOXBOX */
    display: flex;
    align-items: center;
}

header img {
    margin-left: 10px;
    margin-right: 20px;
}

header h2 {
    color: blanchedalmond;
    text-transform: uppercase;
    font-size: 25px;
}

/* MENU DO SITE */
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
}

.menu li {
    /* border: 1px solid red; */
    /* espaçamento */
    padding: 18px;
  }

.menu li a {
    font-size:  23px;
    text-decoration: none;
    color: black;
    text-align: center;
    /* border: 1px solid red; */
    padding: 18px;
}

.menu li a:hover {
    text-decoration: underline;
}

.banner {
    max-width: 1000px;
    height: 250px;
    border: 2px solid red;
    border-radius: 10px;
    margin: 20px;
    /* cortar imagem */
    overflow: hidden;
}

/* CONTENT HOME */
.content-box {
    margin: 20px;
    /* border: 2px solid red; */
    display: flex;
    
}

.box {
    border: 1px solid red;
    max-width: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 30px 20px 15px;
    /* sombra */
    box-shadow: 3px 3px 3px #bcbaba;
}

.box img {
    border-bottom: 1px solid red;
}

.box p {
    padding: 10px;
    color: blueviolet
}

.box a {
    padding: 0 0 10px 10px;
    display: block;
    color: burlywood;
    text-decoration: none;
    /* negrito */
    font-weight: bold;
}

.box a:hover {
    text-decoration: underline;
}

.promocao {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.promocao img {
    max-width: 800px;
    height: 180px;
    border: 2px solid red;
    border-radius: 10px;
    margin: 20px;
    /* cortar imagem */
    overflow: hidden;
}

/* novidades */
.novidades {
    background-color: #bcbaba;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.novidades span {
    font-size: 150px;
}

.novidades article {
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.novidades form {
    width: 100%;
}

.novidades form input {
    max-width: 300px;
    padding-left: 10px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}

.novidades form button {
    border: 1px solid red;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

footer {
    background: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: aliceblue;
}

/* pagina sobre */
.spaceSobre {
    margin: 20px 0 20px 0;
}